<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Заголовок страницы</title>
  <style>
   body {background-color: #b57c86;}
   h1 {color: white; font-size: 2em}
   p {color: #fafafa; font-size: 1.1em}
   </style>
 </head>
 <body>
   <% include views/blocks/header.ejs %>
   <h1> Заголовок , привет мир/ страница about урок 11<h1>
 


  </body>
</html>
