<!DOCTYPE html>
<html>
 <head>
     
    <link rel="stylesheet" href="css/style.css"> 
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Заголовок страницы</title>
  
  
 </head>
 <body >
  
   <h1>Новостная страница с ID - <%=newsId %><h1>
        <h1><%=newParam %><h1>
                <h1><%=obj.title %><h1>
                        <h1><%=obj.id %><h1>

//ссылка на шапку сайта
  <% include blocks/header.ejs %>
//выводим объект через циклы...
 <ul>

  <% obj.paragraphs.forEach(function(item) { %>
    <li><%= item %></li>
  <% }); %>

</ul>
</body>
</html>




